<div class="card-panel grey lighten-5">
    <div class="items-title">
        <img src="./assets/images/ic_linux.svg" class="items-title-image">&nbsp;<span>Especie</span>&nbsp;<img *ngIf="loading" src="./assets/images/ic_loader.gif">
    </div>
    <div class="row">
        <div class="col s12 m12 l12">
            <md-list>
                <md-list-item *ngFor="let specie of species_data; index as i">
                    <a href="javascript:void(0)" (click)="openDialog('specie', specie.url)">{{specie.name}}</a>
                </md-list-item>
            </md-list>
        </div>
    </div>
</div>
