<div class="card-panel">
    <div class="items-title">
        <img src="./assets/images/ic_motorbike.svg" class="items-title-image">&nbsp;<span>Veículos</span>
    </div>
    <div class="row">
        <div class="col s12 m12 l12">
            <table mdSort (mdSortChange)="sort($event)" [mdSortDisableClear]="true" class="responsive-table highlight">
                <thead>
                    <tr>
                        <th md-sort-header="name">Nome</th>
                        <th md-sort-header="vehicle_class">Classe</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let vehicle of sortedData" class="pointer-cursor" (click)="dialog(vehicle.url)">
                        <td>{{vehicle.name}}</td>
                        <td>{{vehicle.vehicle_class}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
