<app-form-loader [loading]="loading"></app-form-loader>
<h2 md-dialog-title class="items-title" *ngIf="!loading">
    {{query_data.name}} <img src="./assets/images/ic_linux.svg" class="right">
</h2>
<md-dialog-content>
    <md-card *ngIf="!loading">
        <md-card-content>
            <div class="row">
                <div class="col s12 m12 l6">
                    <div class="col s12 m12 l12">
                        <div class="form-item-legend">Classificação</div>
                        <div class="right">{{query_data.classification}}</div>
                    </div>
                    <div class="col s12 m12 l12">
                        <div class="form-item-legend">Designação</div>
                        <div class="right">{{query_data.designation}}</div>
                    </div>
                    <div class="col s12 m12 l12">
                        <div class="form-item-legend">Altura média</div>
                        <div class="right">{{query_data.average_height}}cm</div>
                    </div>
                    <div class="col s12 m12 l12">
                        <div class="form-item-legend">Cor da pele</div>
                        <div class="right">{{query_data.skin_colors}}</div>
                    </div>
                </div>
                <div class="col s12 m12 l6">
                    <div class="col s12 m12 l12">
                        <div class="form-item-legend">Cor dos cabelos</div>
                        <div class="right">{{query_data.hair_colors}}</div>
                    </div>
                    <div class="col s12 m12 l12">
                        <div class="form-item-legend">Cor dos olhos</div>
                        <div class="right">{{query_data.eye_colors}}</div>
                    </div>
                    <div class="col s12 m12 l12">
                        <div class="form-item-legend">Média de vida</div>
                        <div class="right">{{query_data.average_lifespan}} anos</div>
                    </div>
                    <div class="col s12 m12 l12">
                        <div class="form-item-legend">Linguas</div>
                        <div class="right">{{query_data.language}}</div>
                    </div>
                </div>
            </div>
        </md-card-content>
    </md-card>
</md-dialog-content>
<md-dialog-actions class="right">
    <button md-button [md-dialog-close]="true">Sair</button>
</md-dialog-actions>
