<div class="row">
    <div class="col s12 m12 l4 left-fix-col">
        <div class="row">
            <div class="col s12 m12 l12">
                <div class="col s12 m12 l12 as-title">
                    <h2 class="flow-text">{{title}}</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m12 l12">
                <app-people-search (searchValue)="search($event)"></app-people-search>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l8 right-col">
        <div class="row">
            <div class="col s12 m12 l12">
                <md-accordion class="people-grid-list" *ngIf="!no_data; else noData">
                    <md-expansion-panel class="z-depth-2" *ngFor="let item of peoples; index as i; trackBy:mySave" hideToggle="true" [@itemAnim]>
                        <md-expansion-panel-header>
                            <md-panel-title>
                                <span class="list-circle-base list-circle grey lighten-1 z-depth-1 left">{{getFirstLetter(item.name)}}</span>
                            </md-panel-title>
                            <md-panel-description>
                                <span class="flow-text">
                                    {{item.name}}
                                </span>
                                <md-icon>
                                    <img src="./assets/images/{{setGender(item.gender)}}">
                                </md-icon>
                            </md-panel-description>
                        </md-expansion-panel-header>
                        <div class="row">
                            <div class="col s12 m12 l12">
                                <app-attributes [attribute]="item"></app-attributes>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 m12 l6">
                                <app-films [films]="item.films" *ngIf="item.films.length > 0; else noFilms"></app-films>
                                <ng-template #noFilms>
                                    <div class="center">
                                        Não participou de nenhum filme
                                    </div>
                                </ng-template>
                            </div>
                            <div class="col s12 m12 l6">
                                <app-species [species]="item.species" *ngIf="item.species.length > 0; else noSpecies"></app-species>
                                <ng-template #noSpecies>
                                    <div class="center">
                                        Não faz parte de nenhuma espécie
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 m12 l6">
                                <app-starships [starships]="item.starships" *ngIf="item.starships.length > 0; else noStarships"></app-starships>
                                <ng-template #noStarships>
                                    <div class="center">
                                        Não possui espaçonave
                                    </div>
                                </ng-template>
                            </div>
                            <div class="col s12 m12 l6">
                                <app-vehicle [vehicles]="item.vehicles" *ngIf="item.vehicles.length > 0; else noVehicles"></app-vehicle>
                                <ng-template #noVehicles>
                                    <div class="center">
                                        Não possui veículos
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                    </md-expansion-panel>
                </md-accordion>
                <div class="row center" *ngIf="!pagination.next && pagination.previous && !loading.default">
                    <p class="data-end-message">Todos os personagens foram carregados</p>
                </div>
                <ng-template #noData>
                    <div class="row">
                        <div class="col s12 m12 l12 flow-text center">
                            Nenhum dado localizado.
                        </div>
                    </div>
                </ng-template>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m12 l12">
                <div class="col s12 m12 l12" *ngIf="loading.default">
                    <div class="spinner">
                        <div class="rect1"></div>
                        <div class="rect2"></div>
                        <div class="rect3"></div>
                        <div class="rect4"></div>
                        <div class="rect5"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m12 l12">
                <div class="row center" *ngIf="pagination.next && !loading.default">
                    <button md-mini-fab class="yellow darken-3" (click)="paginate(pagination.next)" mdTooltip="Carregar mais...">
                        <md-icon><img src="./assets/images/ic_reload.svg"></md-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
