.people-grid-list {
    .mat-expansion-panel-header-title,
    .mat-expansion-panel-header-description {
        flex-basis: 0;
    }
    .mat-expansion-panel-header-description {
        justify-content: flex-end;
        align-items: center;
    }
}
